{% extends "base.jinja" %}
{% block title %} Dodaj węzeł - Podsumowanie {% endblock %}
{% block content %}
<div style="width: 360px">
    <label>Adres MAC węzła: {{ mac_address }}</label> <br>
    <label>Nazwa węzła:</label> <br>
    <label>Rodzaj węzła:</label> <br>
</div>
{% endblock %}