{% extends "base.jinja" %}
{% block title %} Węzeł nr. {{ node_id }} {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <div>
            <label> Nazwa węzła: {{ row['name'] }} </label> <br>
            <label> Adres MAC: {{ row['mac_address'] }} </label> <br>
            <label> Port: {{ row['port'] }} </label> <br>
            <label> Typ węzła: {{ row['direction'] }} </label> <br>
            <label> Funkcje węzła:  <a href="{{ url_for('capture_data', user_node_id=node_id) }}"> <button type="button" class="btn btn-sm btn-secondary">{{ row['functions'] }}</button> <a>  </label>
        </div>
    </div>
    {% if measurements %} 
        <div class="col">
            <table class="table">
                <thead>
                    <td>Data</td>
                    <td> {{ row['description'] }} [{{ row['unit'] }}] </td>
                </thead>
                <tbody>
                    {% for measure in measurements %}
                        <tr>
                            <td> {{ measure['date_time'] }} </td>
                            <td> {{ measure['measure'] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
</div>


{% endblock %}